server:
  port: 8081
spring:
  application:
    name: openfeign-consumer
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: ${spring.application.name}










